* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; }

p {
  text-align: justify;
  text-justify: inter-word; }

:root {
  --color-primary: #2b2c31;
  --color-secondary: rgb(104, 37, 228);
  --box-shadow-1: 10px 20px 15px rgba(0,0,0,0.5);
  --box-shadow-2: 0 0 100px rgba(247, 0, 255, 0.8);
  --color-border: rgb(247, 0, 255);
  --color-bg-text: #424542;
  --color-white: #FFFFFF;
  --color-bgd-blogs: black;
  --color-pseudo-border: #5e635e; }

.light-mode {
  --color-primary: #FFFFFF;
  --color-secondary: #1af4ff;
  --box-shadow-1: 10px 20px 15px rgba(0,0,0,0.5);
  --box-shadow-2: 0 0 100px rgba(76, 0, 255, 0.719);
  --color-border: rgb(76, 0, 255);
  --color-bg-text: #d8d8d8;
  --color-white: #000000;
  --color-bgd-blogs: grey; }

.quote {
  font-size: 1.3rem;
  font-style: italic;
  color: grey;
  text-align: end; }

body {
  background-color: var(--color-primary);
  font-family: 'Poppins', sans-serif;
  color: var(--color-white);
  transition: all 0.5s ease-in-out; }

main {
  height: 80vh; }

a {
  display: inline-block;
  text-decoration: none; }

header {
  height: 10vh;
  overflow: hidden; }

section {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 0; }

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.5s ease-in-out; }

.sec1 {
  display: none;
  transform: translateY(0) scale(1); }

.sec2 {
  display: none;
  transform: translateY(0) scale(1); }

.sec3 {
  display: none;
  transform: translateY(0) scale(1); }

.sec4 {
  display: none;
  transform: translateY(0) scale(1); }

.sec5 {
  display: none;
  transform: translateY(0) scale(1); }

.active {
  display: flex;
  animation: scaleAnim 0.6s, ease-in-out forwards; }

@keyframes scaleAnim {
  0% {
    transform: translateX(-100%) scaleX(0); }
  100% {
    transform: translateX(0%) scaleX(1); } }

.active-background {
  display: flex;
  animation: scaleAnimBackground 0.6s, ease-in-out forwards;
  animation-fill-mode: forwards; }

@keyframes scaleAnimBackground {
  0% {
    transform: translateY(-100%) scaleY(0); }
  100% {
    transform: translateY(0%) scaleY(1); } }

.controls {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 15%;
  left: 50%;
  height: 10vh;
  transform: translateX(-50%);
  z-index: 10; }
  .controls .active-btn {
    background-color: var(--color-secondary) !important; }
    .controls .active-btn i {
      color: var(--color-white) !important; }
  .controls .control {
    display: flex;
    justify-content: center;
    margin: 0.7rem;
    padding: 0.7rem;
    background-color: var(--color-bg-text);
    border-radius: 1cm;
    border: 1px solid var(--color-white);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 1.5rem;
    box-shadow: var(--box-shadow-1); }
    .controls .control img {
      font-size: 1.5rem;
      color: lightgray;
      pointer-events: none; }

.theme-btn {
  position: fixed;
  top: 0%;
  left: 16.5%;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-bg-text);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  z-index: 10;
  transition: all 0.05s ease-in-out; }
  .theme-btn:active {
    transform: translateY(-3px); }
  .theme-btn i {
    font-size: 1.5rem;
    color: grey;
    pointer-events: none; }

.control:hover {
  transform: scale(1.2); }

.sect-header {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row; }
  .sect-header .header-left-img {
    height: 100%;
    width: 20%;
    margin-left: 1rem;
    margin-top: 1rem; }
  .sect-header #home-hdr-left-img {
    display: flex; }
    .sect-header #home-hdr-left-img img {
      height: 100%;
      border-radius: 0.5cm; }
  .sect-header #about-hdr-right-img {
    display: flex;
    justify-content: right;
    align-items: center; }
    .sect-header #about-hdr-right-img img {
      height: 150%;
      transform: translate(-10%, 20%);
      border-radius: 0.5cm; }
  .sect-header .header-text {
    height: 100%;
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-justify: unset;
    text-align: center; }
    .sect-header .header-text h2 {
      width: 100%;
      position: relative;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 800; }
      .sect-header .header-text h2 span {
        color: var(--color-secondary); }
    .sect-header .header-text .bg-text {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      color: var(--color-bg-text);
      z-index: -1;
      transition: all 0.4s ease-in-out;
      transform: translate(-50%, -50%);
      font-weight: 900;
      font-size: 7rem;
      line-height: 5.2rem; }
  .sect-header .header-right-img {
    z-index: -2;
    height: 100%;
    width: 20%; }
  .sect-header #home-hdr-right-img {
    display: flex;
    justify-content: right; }
    .sect-header #home-hdr-right-img img {
      height: 170%;
      transform: translateY(-12%); }

.image {
  border: 4px solid #3e004b;
  border-radius: 2.5cm;
  background-color: black;
  transition: all 0.5s ease-in-out;
  overflow: hidden; }
  .image:hover {
    box-shadow: var(--box-shadow-2);
    border-color: var(--color-border); }

.about-container {
  display: grid;
  grid-template: "b a" 40%
 "b a" 40%
 "c c" 20% / 1fr 1.5fr;
  height: 80vh;
  font-size: 1.3rem;
  color: inherit; }
  .about-container .about-right {
    grid-area: a;
    padding-top: 12%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; }
    .about-container .about-right h4 {
      font-size: 1.5rem; }
      .about-container .about-right h4 span {
        color: var(--color-secondary); }
    .about-container .about-right p {
      text-justify: inter-word; }
  .about-container .about-anime {
    grid-area: c;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .about-container .about-anime .anime-pointer {
      font-size: 7.5rem;
      margin-left: 1rem;
      background-color: var(--color-white);
      color: var(--color-secondary);
      border-radius: 55%;
      height: 7.5rem;
      line-height: 0rem;
      transition: all 0.3s ease-in-out;
      box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1); }
    .about-container .about-anime .anime-text {
      width: 70%;
      border: 1px solid gray;
      border-radius: 1rem;
      transition: all 0.3s ease-in-out;
      box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
      padding: 0.5rem 1rem;
      margin-left: 1rem; }
      .about-container .about-anime .anime-text:hover {
        cursor: default;
        transform: translateY(-5px);
        border: 2px solid var(--color-secondary);
        box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.32); }
        .about-container .about-anime .anime-text:hover + .anime-pointer {
          transform: translateY(-5px);
          box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.32);
          background-color: var(--color-secondary);
          color: var(--color-white); }
    .about-container .about-anime .anime-list-link {
      display: flex;
      align-items: center;
      margin: 0 1rem;
      min-width: 300px; }
      .about-container .about-anime .anime-list-link img {
        transform: scale(1.1);
        transition: all 0.25s ease-in-out; }
        .about-container .about-anime .anime-list-link img:hover {
          transform: translate(35%, -30%) scale(1.8); }
  .about-container .about-left {
    grid-area: b;
    display: flex;
    align-items: center;
    justify-content: center; }
    .about-container .about-left .img-box {
      width: 80%;
      height: 80%;
      margin: 0rem 1rem;
      -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
      filter: blur(3px) contrast(1.5); }
      .about-container .about-left .img-box img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.4s ease-in-out; }
        .about-container .about-left .img-box img:hover {
          filter: brightness(140%); }
      .about-container .about-left .img-box:hover {
        filter: blur(0px) contrast(1); }

.home-content {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 0vh 0;
  height: 80%; }
  .home-content .home-right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .home-content .home-right .home-right-image {
      height: 80%;
      width: 65%;
      min-width: 350px;
      max-width: 365px; }
      .home-content .home-right .home-right-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.5s ease-in-out;
        filter: grayscale(100%); }
        .home-content .home-right .home-right-image img:hover {
          filter: grayscale(0); }
  .home-content .home-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-top: 7%; }
    .home-content .home-left .name {
      font-size: 2.3rem; }
      .home-content .home-left .name span {
        color: var(--color-secondary); }
    .home-content .home-left p {
      font-size: 1.5rem;
      line-height: 1.8rem; }

.h-shape {
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  right: 0;
  left: 0;
  z-index: -10; }

.dynamic-shape {
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  background-color: var(--color-secondary);
  position: fixed;
  right: 0;
  left: 0;
  z-index: -10; }

#h-shape-home {
  clip-path: polygon(33% 100%, 63% 100%, 100% 0, 100% 100%, 0 100%, 0 72%); }

#h-shape-about {
  clip-path: polygon(52.5% 31%, 100% 31%, 100% 32%, 38% 32%, 38% 79.5%, 0 79.5%, 0 31%, 23% 0, 52.5% 0); }

.btn-container {
  border: 2px solid var(--color-white);
  border-radius: 1.5cm;
  align-self: flex-end;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: hidden; }
  .btn-container .link-btn {
    display: flex;
    flex-direction: row;
    color: var(--color-white);
    font-weight: 600;
    align-items: center;
    position: relative; }
    .btn-container .link-btn .text-btn {
      padding: 0rem 1rem; }
    .btn-container .link-btn .icon-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      padding: 1rem;
      background-color: var(--color-secondary);
      border-radius: 50%; }
    .btn-container .link-btn::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      transition: all 0.5s ease-in-out;
      z-index: -20; }
    .btn-container .link-btn:hover::before {
      background-color: var(--color-secondary);
      transform: translateX(0); }
  .btn-container:hover ~ #home-foregound-bottom {
    opacity: 0.0; }
  .btn-container:hover ~ #home-foregound-bottom2 {
    opacity: 1.0; }

#home-foregound-bottom {
  flex: 1;
  position: absolute;
  left: 15%;
  top: 80%;
  height: 150px;
  width: 350px;
  z-index: -1;
  transition: all 0.25s ease-in-out;
  pointer-events: none; }
  #home-foregound-bottom img {
    height: 100%;
    z-index: -1;
    object-fit: cover; }

#home-foregound-bottom2 {
  position: absolute;
  left: 15%;
  top: 80%;
  height: 176px;
  width: 350px;
  z-index: -1;
  transition: all  0.25s ease-in-out;
  pointer-events: none;
  overflow: hidden;
  opacity: 0.0; }
  #home-foregound-bottom2 img {
    height: 150%;
    z-index: 0;
    object-fit: cover; }

@media all and (max-width: 1300px) {
  .contacts-container {
    flex-direction: column; }
    .contacts-container .contacts-right {
      margin-bottom: 2rem; }
  #h-shape-contacts {
    clip-path: polygon(5% 0, 5% 25%, 5% 25%, 5% 100%, 95% 100%, 95% 0, 100% 0, 100% 100%, 0 100%, 0 0) !important; }
  .contacts-left {
    margin-top: 2rem !important; } }

@media all and (max-width: 1100px) {
  .about-container {
    font-size: 1rem !important; }
  .portfolios {
    grid-template-columns: repeat(2, 1fr) !important; }
  #portfolio-foregound-left {
    height: 250px !important; }
  .portfolio-bottom-right {
    height: 150px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important; }
  .portfolio-text img {
    margin-left: 1rem !important; }
  .blogs-container {
    grid-template-columns: repeat(2, 1fr) !important; } }

@media all and (max-width: 1100px) {
  .home-content {
    display: flex;
    flex-direction: column; }
  .home-left {
    padding-left: 5% !important;
    padding-right: 5%; }
  .theme-btn {
    left: 92% !important;
    width: 47px !important;
    height: 47px !important; }
  .header-right-img {
    display: none !important; }
  .header-left-img {
    height: 70% !important;
    width: 15% !important;
    min-width: 135px; }
  .btn-container {
    align-self: center !important; }
  .quote {
    text-align: center; }
  #home-foregound-bottom {
    left: 0% !important; }
  #home-foregound-bottom2 {
    left: 0% !important; } }

@media all and (max-width: 800px) {
  .controls {
    top: 90% !important; }
    .controls .control {
      font-size: 1rem !important;
      padding: 0.7rem 0.4rem !important; }
  .home-left {
    padding-top: 0 !important; }
  #home-foregound-bottom {
    top: 80% !important;
    height: 100px !important; }
  #home-foregound-bottom2 {
    top: 80% !important;
    height: 100px !important; }
  .header-text {
    width: 77% !important; }
    .header-text h2 {
      font-size: 2rem !important; }
    .header-text .bg-text {
      font-size: 5rem !important; }
  .about-container {
    display: flex;
    flex-direction: column; }
    .about-container .about-right {
      order: 0;
      padding-left: 5% !important;
      padding-top: 0 !important; }
    .about-container .about-left {
      order: 2; }
  #h-shape-about {
    display: none; }
  .about-anime {
    display: grid !important;
    grid-template: "a b" 50%
 "c c" 50% / 3fr 1fr;
    gap: 1rem; }
    .about-anime .anime-text {
      width: 100% !important;
      grid-area: a; }
      .about-anime .anime-text:hover + .anime-pointer {
        transform: rotateZ(90deg) rotateY(359deg) !important; }
    .about-anime .anime-pointer {
      width: 120px !important;
      grid-area: b;
      transform: rotateZ(90deg); }
    .about-anime .anime-list-link {
      grid-area: c;
      width: 300px !important;
      align-self: start;
      justify-self: right; }
  .portfolio-text {
    padding-top: 0 !important;
    font-size: 1rem !important; }
    .portfolio-text img {
      height: 100px !important;
      margin-left: 1rem !important; }
  #blogs-foregound-left {
    height: 200px !important;
    top: 15% !important; }
  .blogs-text {
    padding-top: 0 !important; }
  .contacts-right {
    margin-bottom: 6rem !important; }
  .contacts-container {
    margin-top: 1rem !important; } }

@media all and (max-width: 700px) {
  .home-left .name {
    font-size: 1.8rem !important; }
  .home-left p {
    font-size: 1.5rem !important; }
  .blogs-container {
    grid-template-columns: repeat(1, 1fr) !important; }
  .contact-icons {
    display: grid  !important;
    grid-template-columns: repeat(2, 1fr);
    align-content: center !important;
    justify-content: center !important;
    margin-top: 1rem !important; }
    .contact-icons .contact-icon {
      align-self: center !important;
      justify-self: center !important; } }

@media all and (max-width: 600px) {
  .home-left .name {
    font-size: 1.5rem !important; }
  .home-left p {
    font-size: 1rem !important; }
  .control p {
    display: none; }
  #home-foregound-bottom {
    display: none; }
  #home-foregound-bottom2 {
    display: none; }
  .header-left-img {
    display: none !important; }
  .sect-header {
    justify-content: center; }
  .theme-btn {
    left: 88% !important;
    width: 47px !important;
    height: 47px !important; }
  .about-anime {
    display: grid !important;
    margin-top: 1rem !important;
    grid-template: "a a" 33%
 "b b" 33%
 "c c" 33%;
    gap: 1rem; }
    .about-anime .anime-text {
      width: 90% !important;
      grid-area: a;
      margin-right: 2rem !important; }
      .about-anime .anime-text:hover + .anime-pointer {
        transform: rotateZ(90deg) rotateY(359deg) !important; }
    .about-anime .anime-pointer {
      width: 120px !important;
      grid-area: b;
      transform: rotateZ(90deg);
      justify-self: center; }
    .about-anime .anime-list-link {
      grid-area: c;
      width: 300px !important;
      justify-self: center; }
  .portfolios {
    grid-template-columns: repeat(1, 1fr) !important; }
  #portfolio-foregound-left {
    height: 150px !important; }
  .portfolio-bottom-right {
    display: none !important; }
  .portfolio-text {
    flex-direction: column !important; }
    .portfolio-text img {
      margin-top: 1rem !important;
      width: 100px !important;
      align-self: center; }
  #blogs-foregound-left {
    display: none; }
  .blogs-text {
    font-size: 1rem !important;
    padding-top: 1rem !important; }
  .contact-item {
    flex-direction: column !important; }
    .contact-item .icon {
      align-self: flex-start !important; }
    .contact-item p {
      align-self: flex-end !important; }
  .header-text {
    height: 20vh !important; }
  .contacts-container {
    margin-top: 0 !important; }
  .contacts-left {
    margin-top: 0 !important; } }

    .control  p{
      pointer-events: none;
    }